@page
@model DungeonTyper.Models.GameModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link href="~/css/game.css" rel="stylesheet" />
    <script src="~/lib/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/game.js"></script>
    <title>DungeonTyper</title>
</head>
<body>
    <div>
        <form onsubmit="javascript:SubmitInput();">
            <input type="text" id="userInput" value="player" />
            <br />
            <input name="input" type="text" id="inputfield" autocomplete="off" style="background-color:black; color:white">
        </form>


        <input type="button" id="sendButton" value="Send Message" />
        <div>
            <textarea id="dungeontextarea" readonly"></textarea>
        </div>
    </div>

</body>
</html>