@{
    ViewBag.Title = "Home Page";
}
@{
    Layout = "";
}

<html>
<head>
    <script src="~/Scripts/DungeonTyper.js"></script>
    <link href="~/Content/DungeonTyper.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <textarea></textarea>
</body>
</html>
