@page
@model DungeonTyper.Models.GameModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link href="~/css/game.css" rel="stylesheet" />
    <script src="~/lib/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/game.js"></script>
    <title>DungeonTyper</title>
</head>
<body>
    <div>
        <form action="javascript:SubmitInput()">
            <input name="input" type="text" id="inputfield" autocomplete="off" style="background-color:black; color:white">
        </form>
        
        <div>
            <textarea id="dungeontextarea" readonly></textarea>
        </div>
    </div>

</body>
</html>